@model FelControl.UserService
@{
	ViewBag.Title = "Delete";
}

<ul class="breadcrumb">
	<li><a href="\">Tables</a> <span class="divider">/</span></li>
	<li>@Html.ActionLink("UserServices", "Index", "UserServices") <span class="divider">/</span></li>
	<li class="active">Delete</li>
</ul>
<div class="row">
	<div class="span4">
		<table class="table table-bordered table-striped table-condensed table-hover pull-left">
			<tr>
				<td>@Html.LabelFor(x => x.Service)</td>
		<td>
			<a href="@Url.Action("Details", "Services", new { Id = Model.ServiceId })"><small>View</small></a>
		</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(x => x.User)</td>
		<td>
			<a href="@Url.Action("Details", "Users", new { Id = Model.UserId })"><small>View</small></a>
		</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="span4">
@using (Html.BeginForm()) {
		<input type="submit" value="Delete" class="btn btn-danger" />
		@Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
}
	</div>
</div>
